
body {             
    margin: 0;                
}
/* main section */
main {
    display: flex;
    height: 100%;
    flex-flow: row wrap;
}
 main > * {
    flex: 1 100%; 
} 
/* sidebar */
nav {
    flex: 1 auto;
    order: 1;
    background-color: lightgray;
    padding-top: 30px;
    line-height: 3rem;
    border-right: 1px solid;
    margin-top: 60px;
}
a {
    text-decoration: none;
    font-size: larger;
    color: black;
    padding-left: 45%;
}
/* inside main section */
.content{
    flex: 2 0px;
    order: 2;
    background-color: lightgray; 
    margin-top: 60px;
    padding: 50px;
    overflow-y: auto;   
    height: 82vh;      
}

p, img {
    background-color: white;
    padding: 40px;
    width: 1000px;
}

h2 {
    background-color: rgb(197, 155, 155);
    width: 500px;
}
footer {
    order: 3;  
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
/* header and footer */
header, footer {
    padding: 30px;
    background-color: gray;
    text-align: center;   
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}