 body {
    margin: 0;
    display: grid;
    grid-template-areas: 
    'header  header'
    'nav  article'
    'footer  footer'; 
    height: 94vh;
    overflow-y:hidden;
 }
/* naming elements for grid area  */
header {grid-area: header;}
nav {grid-area: nav;}
article {grid-area: article;}
footer {grid-area: footer;}

 /* sidebar */
nav {
    background-color: lightgray;
    padding-top: 30px;
    line-height: 3rem;
    border-right: 1px solid;
    margin-top: 60px;
    width: 30vw;
}
a {
    text-decoration: none;
    font-size: larger;
    color: black;
    padding-left: 20%;
}
/* inside main section */
.content{
    background-color: lightgray; 
    margin-top: 77px;
    padding: 50px;
    overflow-y: auto;         
}

.content::-webkit-scrollbar {
    display: none;
  }

section {
    background-color: rgb(255, 255, 255);
    padding: 5%;
    margin-bottom: 10px;
}

img {
    width: 100%;
}

/* header and footer */
 header, footer {
    padding: 30px;
    background-color: gray;
    text-align: center;   
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
footer { 
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}